<?xml version="1.0"?>
<config>
<modules>
<Tai_Smartpay>
<version>0.0.1</version>
</Tai_Smartpay>
</modules>
<global>
<fieldsets>
<sales_convert_quote_payment>
<custom_field_three>
<to_order_payment>*</to_order_payment>
</custom_field_three>
<custom_field_four>
<to_order_payment>*</to_order_payment>
</custom_field_four>
</sales_convert_quote_payment>
</fieldsets>
<models>
<tai_smartpay>
<class>Tai_Smartpay_Model</class>
</tai_smartpay>
</models>
<blocks>
<tai_smartpay>
<class>Tai_Smartpay_Block</class>
</tai_smartpay>
</blocks>
<helpers>
<tai_smartpay>
<class>Tai_Smartpay_Helper</class>
</tai_smartpay>
</helpers>
<resources>
<tai_smartpay_setup>
<setup>
<module>Tai_Smartpay</module>
</setup>
</tai_smartpay_setup>
</resources>
</global>
<default>
<payment>
<tai_smartpay>
<active>1</active>
<model>tai_smartpay/smartpay</model>
<order_status>pending</order_status>
<title>CustomPaymentMethod</title>
<allowspecific>0</allowspecific>
<payment_action>sale</payment_action>
</tai_smartpay>
</payment>
</default>
<frontend>
<routers>
<tai_smartpay>
<use>standard</use>
<args>
<module>Tai_Smartpay</module>
<frontName>smartpay</frontName>
</args>
</tai_smartpay>
</routers>
</frontend>
</config>
